@import '~node_modules/modern-normalize/modern-normalize.css';
.search-form {
  display: flex;
  justify-content: center;
  background-color: #398429;
  height: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
